@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --pink: #f76c6f;
    --ligth-pink:#fbabad;
    --ligth-color:#666;
    --black:#201f2b;

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
  background: url(/img/img-back.jpg);
  background-size: cover;
  background-position: center;  
}

.btn{
    display: inline-block;
    margin: 1rem;
    border-radius: .5rem;
    background: var(--pink);
    color: #fff;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.btn:hover{
    background: var(--ligth-pink);
    color: var(--ligth-color);
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 3rem;
    color: var(--pink);
}

.heading span{
    position: relative;
    z-index: 0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}
.header{
    position: fixed ;
    top: 0;
    left: 0 ;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8%;
    backdrop-filter: blur(15px);
}
.header .logo{
    font-size: 2rem;
    color: var(--black);
    font-weight: bold;
}

.header .logo span{
    color:var(--pink);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--pink);
}

.header .btn{
    margin-top: 0;
}

.header .login-btn i{
    font-size: 2.5rem;
    color: var(--ligth-color);
    cursor: pointer;
    display: none;
    
}

#menu-btn{
    font-size: 2.5rem;
    color:var(--ligth-color);
    cursor: pointer;
    display: none;
}


.header.active {
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

/*FORM CONFIRMACION*/
.login-form-container {
    position: fixed;
    top: -105%;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.login-form-container.active{
    top:0;
    opacity: 1;
}

.login-form-container form{
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
    border: var(--border);
    text-align: center;
    width: 40rem;
}
.login-form-container form .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.login-form-container form .btn{
    display: block;
    width:100% ;
    margin: .5rem 0;
}
.login-form-container form h3{
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.login-form-container form .box{
    margin: .7rem;
    width: 100%;
    text-transform: none;
    color: var(--black);
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border: var(--border);
    border-radius: .5rem;
}
.login-form-container form p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--ligth-color);
}

.login-form-container form p a{
   color: var(--yelow);
   text-decoration: underline;
}

.login-form-container #close-login-form{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}
/*HOME*/
.home{
    padding: 10rem;
    text-align: center;
    overflow: hidden;
}

.home h1{
    font-size: 2.5vw;
    color: var(--pink);
}

.home img{
    width: 80%;
    margin: 1rem 0;
}

/*CUENTA REGRESIVA*/
.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: var(--pink);
    margin: 0 10px;
  }
  
.number {
    font-weight: bold;
    font-size: 3rem;
  }
  
.text {
    font-size:1.5rem;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-top: 5px;
  }
.icons-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.5rem;
    backdrop-filter: blur(15px);
}
.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.icons-container .icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #eee;
    color: var(--pink);
    text-align: center;
}

.icons-container .icons .content h3{
    color:var(--pink);
    font-size: 2.5rem;
}

.icons-container .icons .content p{
    color:var(--ligth-color);
    font-size: 1.5rem;
}

.icons-container .icons:hover{
    background: var(--ligth-pink);
}

.icons-container .icons:hover i{
    background: #fff;
}

.icons-container .icons:hover .content h3{
    color: #fff;
}

.icons-container .icons:hover .content p{
    color: #eee;
}
/*SECCCION UBICACION*/
.ubicacion .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.ubicacion .row .map{
    flex: 1 1 42rem;
    width: 100%;
    padding: 2rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(var(--box-shadow));
}
.ubicacion .row form{
    flex: 1 1 42rem;
    padding: 2rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(var(--box-shadow));
    text-align: center;
}
.ubicacion .row form i{
    font-size: 1.5rem;
    margin: .7rem 0;
    color: var(--pink);
}
.ubicacion .row form p{
    margin: .7rem 0;
    color: var(--black);
    font-size: 1.5rem;
    text-align: left;
}

.ubicacion .row form h3{
    margin: .5rem 0;
    color: var(--pink);
    font-size: 2.2rem;
}
.ubicacion .row form img{
   width: 2rem;
}

/*SECCION GALERIA*/
.galeria .galeria-slider{
    padding-bottom: 5rem;
}

.galeria .galeria-slider .box{
    text-align: center;
}

.galeria .galeria-slider .box img{
    width: 100%;
    opacity: .5;
    transform: scale(.8);
}

.galeria .galeria-slider .box .content{
   transform: scale(0);
    padding: 1rem;
}

.galeria .galeria-slider .swiper-slide-active .content .btn  #insta{
   color: #fff;
   font-size: 1.5rem;
 }

.galeria .galeria-slider .swiper-slide-active img{
    opacity: 1;
    transform: scale(1);
}

.galeria .galeria-slider .swiper-slide-active .content{
    transform: scale(1);
}
.galeria .galeria-slider .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.galeria .galeria-slider .box .content .zona{
    font-size: 2.5rem;
    color: var(--yelow);
    padding: 1rem 0;
    font-weight: bolder;
}

.galeria .galeria-slider .box .content .zona span{
    font-size: 1.7rem;
    color: var(--ligth-color);
    font-weight: normal;
}
.galeria .galeria-slider .box .content p{
    font-size:1.6rem;
    padding: 1rem;
    padding-top: 1.5rem;
    border-top: var(--border);
    color: var(--ligth-color);
}

.galeria .galeria-slider .box .content p span{
    color: var(--yelow);
    font-size: .8rem;
    padding: 0 .5rem;
}

.swiper-pagination-bullet-active{
    background: var(--pink);
}
/*SECCION PLAYLIST*/
.playlist .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
 .playlist .row .video-y{
    flex: 1 1 40rem;
    width: 100%;
    padding: 2rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(var(--box-shadow));
}
.playlist .row .data-play{
    flex: 1 1 40rem;
    padding: 2rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(var(--box-shadow));
    text-align: center;
}

.playlist .row .data-play i{
    font-size: 1.5rem;
    margin: .7rem 0;
    color: var(--pink);
}

.playlist .row .data-play p{
    margin: .7rem 0;
    color: var(--black);
    font-size: 1.5rem;
    text-align: left;
}

.playlist .row .data-play h3{
    margin: .5rem 0;
    color: var(--pink);
    font-size: 1.9rem;
}

.playlist .row .data-play a{
    color: var(--pink);
    font-weight:bold;
}

/*ICONO MUSICA ON-OFF*/

.musicaOff {
    float: left;
    right: 0;
    top: 45%;
    position: fixed;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    background-color: #f69c9b;
    letter-spacing: 3px;
    font-family: montserrat;
    color: #fff;
    border-radius: 3px 0 0 3px;
    padding: 12px;
    font-weight: 100;
    font-size: 22px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 1000;
    text-align: center
}

.musicaOn {
    float: left;
    right: 0;
    top: 45%;
    position: fixed;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    background-color: #f69c9b;
    letter-spacing: 3px;
    font-family: montserrat;
    color: #fff;
    border-radius: 3px 0 0 3px;
    font-weight: 100;
    font-size: 22px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 1000
}

.musicaOn img {
    width: 50px;
    height: 50px
}

.musicaOff .flotante {
    margin-top: 2px!important
}

.hidden {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }

/*FOOTER*/
footer{
    position:relative;  
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
footer .social_icon li, footer .menu li{
    list-style: none;
}
  
footer .social_icon li a{
    font-size: 3em;
    color:var(--pink);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
  
footer .social_icon li a:hover{
    transform: translateY(-10px);
 }
  
footer .menu li a{
    font-size: 1.9em;
    color: var(--ligth-color);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
  
footer .menu li a:hover{
    opacity: 1;
}
  
footer p {
    color: var(--ligth-color);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;
    opacity: 0.75;
}
/*MENSAJE DE BIENVENIDA*/
.modal {
    display: none; /* ocultar por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(60, 60, 60, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.modal-content {
    margin: 15% auto;
    width: 40%;
    background: #eee;
    text-align: center;
    text-transform: none;
    color: var(--black);
    font-size:1.9rem;
    padding: 1rem 1.2rem;
    border: var(--border);
    border-radius: .5rem;
}
/* INSTAGRAM */

section.instagram{
    text-align: center;
    height: 550px;
    color:white;
    z-index: 999;
    overflow-x: hidden;
    background: url(/img/instagram.jpg);
    opacity: 0.7;
  }
  
section.instagram .contenido{
    padding: 50px 0px;
  }
  
section.instagram span.hashtag{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 100px;
    color:white;
  }
  
  
section.instagram p{
    margin-top: 20px;
    margin-bottom:30px;
    color:white;
    font-size: 2rem;
  }
  
/*ANIMACION ICONOS*/

.bounce-in {
    animation: bounce-in 2s ease infinite;
    width: 150px;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
  }
  
  /* ---------- */

/*MEDIA PARA DISTINTOS DISPOSITIVOS*/

@media(max-width: 768px) {
    .musicaOn,.musicaOff {
        top:30%
    }
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }

    .header.active {
        padding: 2rem;
    }
    section{
        padding: 2rem ;
    }
}

@media(max-width:768px){
    #menu-btn{
        display: block;
    }
    #menu-btn.fa-times{
        transform: rotate(188deg);
    }
    .header .login-btn i{
        display: block;   
    }
    .header .login-btn .btn{
        display: none;   
    }
    .header .navbar{
        position: absolute;
        top:99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a{
        display: block;
    }
    .header .logo img{
        display: block;
    }
    .home h1{
        opacity: 0;
    }
    .home #contdown{
        width:280px;
    }
    .home{
        padding: 5rem 3rem 3rem 3rem;
    }
    .modal-content {
        width: 60%;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2.5rem;
    }
    .home img{
        width: 100%;
        margin: 1rem 0;
    }
    .home {
        padding: 4rem 3rem 3rem 3rem;

    }
    .home h1{
        opacity: 0;
    }
    .home #contdown{
        width:280px;
    }
    footer .menu li a{
        font-size:1.6rem;
    }
    .modal-content {
        width: 60%;
    }

}